$dark-color: #062630;
$dark-light: #385159;
$light-white: #E6E1DF;
$beige: #faf5f3;
$pure-white:#ffffff;

$dark-salomon: #FEA36F;
$salomon:#FFE2D1;
$light-salomon: #fff5ef;

$text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
$gradient:linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);          